*{
    margin: 0;
}

body{
    background: radial-gradient(circle at top left, #3378FF, #9442FE);
}
.botton-cancel-form{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.container-form{
    display: flex;
    justify-content: center;
}

.form{
    width: 80%;
    height: 80vh;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.name-last-first, .form-control, .form-control1{
    width: 40rem;
    height: 40px;
    margin-bottom: 20px;
    border: 0.25px solid black;
}

.mail, .phone{
    margin-bottom: 20px;
    width: 40rem;
    height: 40px;
    border: 0.25px solid black;
}

.send{
    width: 100px;
    height: 40px;
    background-color: #9442FE;
    border: none;
    color: white;

}

label{
    font-size: 20px;
}


