.navbar{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
}

.botton-red-form{
    Color: rgb(66, 66, 66);
    background-color: rgb(230, 230, 230);
    padding: 50px;
    border: 1.5px solid rgb(225, 0, 255);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 16px;
}